<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>文章管理系统</title>
        <style type="text/css">
			#head{
				height: 100px;
				background-color: green;
			}

			#body{
				background-color: white;
			}
			
			#sidebar{
				width: 30%;
				background-color: yellow;
				float:left;
			}
			
			#content{
				width: 70%;
				background-color: white;
				float:right;
			}

			#foot{
				height: 100px;
				background-color: green;
			}
        </style>
    </head>